<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="heap.stark.mapper.TableMapper">

    <resultMap id="TableMapperResultMap" type="heap.stark.ColumnBean">
        <result column="COLUMN_NAME" property="columnName"/>
        <result column="DATA_TYPE" property="dataType"/>
        <result column="COLUMN_KEY" property="columnKey"/>
        <result column="COLUMN_COMMENT" property="columnComment"/>
        <result column="COLUMN_TYPE" property="columnType"/>
    </resultMap>

    <select id="getColumnBeanList" resultMap="TableMapperResultMap">
       select * from information_schema.columns where table_name = #{tableName}
    </select>


</mapper>